TZ=Europe/Berlin
DATABASE_USER=teslamate
DATABASE_NAME=teslamate
DATABASE_HOST=postgres
MQTT_HOST=mosquitto

# replace
MQTT_USERNAME=mosquitto
MQTT_PASSWORD=mosquitto
ENCRYPTION_KEY=secretkey
DATABASE_PASS=password
