DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=yourInfluxAccount
DOCKER_INFLUXDB_INIT_PASSWORD=yourInfluxPassword
DOCKER_INFLUXDB_INIT_ORG=org01
DOCKER_INFLUXDB_INIT_BUCKET=bucket01
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=randomTokenValue
