# version 2.1 config
# DOCKER_INFLUXDB_INIT_MODE=setup
# DOCKER_INFLUXDB_INIT_USERNAME=yourInfluxAccount
# DOCKER_INFLUXDB_INIT_PASSWORD=yourInfluxPassword
# DOCKER_INFLUXDB_INIT_ORG=org01
# DOCKER_INFLUXDB_INIT_BUCKET=bucket01
# DOCKER_INFLUXDB_INIT_RETENTION=1w
# DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=randomTokenValue

INFLUXDB_DB=iot_db
INFLUXDB_DATA_ENGINE=tsm1
INFLUXDB_REPORTING_DISABLED=false
INFLUXDB_ADMIN_ENABLED=true
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=admin
INFLUXDB_USER=user
INFLUXDB_USER_PASSWORD=user
INFLUXDB_HTTP_AUTH_ENABLED=true
